<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFacturacionServer" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpBinding_ISalesServer" />
                <binding name="BasicHttpBinding_ISalesServer1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SaleDomainsServer/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacturacionServer"
                contract="ServiceReference1.IFacturacionServer" name="BasicHttpBinding_IFacturacionServer" />
            <endpoint address="http://localhost:34152/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference2.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:8741/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference3.IService1"
                name="BasicHttpBinding_IService11" />
            <endpoint address="http://localhost:39698/SalesServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalesServer" contract="ServiceReference4.ISalesServer"
                name="BasicHttpBinding_ISalesServer" />
            <endpoint address="http://localhost:8796/SalesServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISalesServer1" contract="ServiceReference5.ISalesServer"
                name="BasicHttpBinding_ISalesServer1" />
        </client>
    </system.serviceModel>
</configuration>